body {
  background: rgb(85, 144, 189);
  background: linear-gradient(90deg,
      rgba(85, 144, 189, 1) 0%,
      rgba(108, 183, 240, 1) 54%,
      rgba(182, 216, 242, 1) 82%);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-family: "Oswald", sans-serif;
}

h1 {
  color: white;
}

a {
  text-decoration: none;
}

/* #region Bloque de espera y progreso */

.wait-pikachu {
  width: 150px;
  height: 150px;
}

.wait-container {
  display: grid;
  grid-template-columns: 1fr;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 10px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 3px 15px rgb(54, 115, 161);
  display: none;
  place-items: center;
  font-size: 20px;
}

.progress-container {
  display: grid;
  grid-template-columns: 1fr;
  padding-bottom: 20px;
  border-radius: 10px;
  place-items: center;
  font-size: 20px;
}

/* #endregion */

/* #region Select de Busqueda */

.select-container {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 10px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 3px 15px rgb(54, 115, 161);
}

.index-container {
  width: 98%;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 10px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 3px 15px rgb(54, 115, 161);
}

/* #endregion */

/* #region Despliegue y contenedores */

.pokemon-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.card-container {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .card-container {
  transform: rotateY(180deg);
}

/* #endregion */

/* #region card */

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-15px);
	}
	100% {
		transform: translatey(0px);
	}
}

.img-container {
  background-image: url("../Imagenes/blob.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.img-pokemon {
  width: 350px;
  height: 350px;
  animation: float 5s ease-in-out infinite;
}

.number {
  font-size: 20px;
}

.name {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 24px;
}

/* #endregion card */

/* #region Pokemon Types */

.types-container1 {
  display: grid;
  grid-template-columns: 1fr;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.types-container2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 75%;
  gap: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.types {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 4px;
  border-radius: 32px;
  font-weight: bolder;
  color: white;
  font-size: 16px;
}

.typesSteel { background-color: rgb(96,162,185); }

.typesWater { background-color: rgb(36,129,239); }

.typesBug { background-color: rgb(146,162,18); }

.typesDragon { background-color: rgb(78,95,225); }

.typesElectric { background-color: rgb(250,193,0); }

.typesGhost { background-color: rgb(113,63,113); }

.typesFire { background-color: rgb(231,35,36); }

.typesFairy { background-color: rgb(239,113,239); }

.typesIce { background-color: rgb(61,217,255); }

.typesFighting { background-color: rgb(255,129,0); }

.typesNormal { background-color: rgb(160,162,160); }

.typesGrass { background-color: rgb(63,161,41); }

.typesPsychic { background-color: rgb(239,63,122); }

.typesRock { background-color: rgb(176,171,130); }

.typesDark { background-color: rgb(79,63,61); }

.typesGround { background-color: rgb(146,80,27); }

.typesPoison { background-color: rgb(146,63,204); }

.typesFlying { background-color: rgb(130,186,239); }

/* #endregion */

/* #region CardBack */

.pokemon-block,
.pokemon-block-back {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.pokemon-block-back {
  transform: rotateY(180deg);
  position: absolute;
  top: 0%;
}

.pokemon-block,
.pokemon-block-back {
  border-radius: 10px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 3px 15px rgb(54, 115, 161);
}

.cbTitle {
  font-weight: bold;
  font-size: 24px;
  margin-top: 15px;
}

.varieties {
  font-weight: bold;
  font-size: 24px;
  margin-top: 15px;
}

.pokedex-entry {
  text-align: center;
  font-size: 18px;
}

.datos {
  text-align: left;
  font-size: 18px;
  margin-left: 20px;
}

/* #endregion */